<!DOCTYPE html>
<html lang="it">
<head>
  <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;600&display=swap" rel="stylesheet">
  <meta charset="UTF-8">
  <link rel="icon" type="image/svg+xml" href="/favicon.svg">
  <title>{{ .Title }} | {{ .Site.Title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>

  {{ partial "header.html" . }}


  <main>
    {{ block "main" . }}{{ end }}
  </main>
  {{ partial "footer.html" . }}
  <div class="image-lightbox" id="lightbox">
    <span class="lightbox-close">&times;</span>
    <img class="lightbox-img" id="lightbox-img">
  </div>

  <script>
    document.querySelectorAll('.zoomable').forEach(img => {
      img.addEventListener('click', function() {
        const lightbox = document.getElementById('lightbox');
        const lightboxImg = document.getElementById('lightbox-img');
        lightbox.classList.add('active');
        lightboxImg.src = this.src;
        document.body.style.overflow = 'hidden';
      });
    });
    
    document.getElementById('lightbox').addEventListener('click', function(e) {
      if (e.target !== this.querySelector('.lightbox-img')) {
        this.classList.remove('active');
        document.body.style.overflow = 'auto';
      }
    });
    
    document.addEventListener('keydown', function(e) {
      if (e.key === "Escape") {
        document.getElementById('lightbox').classList.remove('active');
        document.body.style.overflow = 'auto';
      }
    });
    </script>
</body>
</html>