<footer class="site-footer">

  <div class="footer-container">

    <div class="footer-col footer-brand">
      <h3>Paola Bovero</h3>
      <p>
        Insegnante · Scrittrice · Esploratrice dell’anima
      </p>
    
      <img src="/img/angel.jpeg" alt="Simbolo Paola Bovero" class="footer-logo">
      <img src="/img/angel1.jpeg" alt="Simbolo Paola Bovero" class="footer-logo">
      <img src="/img/angel3.jpeg" alt="Simbolo Paola Bovero" class="footer-logo">
      <img src="/img/angel4.jpeg" alt="Simbolo Paola Bovero" class="footer-logo">
      <img src="/img/angel2.jpeg" alt="Simbolo Paola Bovero" class="footer-logo">
    </div>

    <div class="footer-col">
      <h4>Sezioni</h4>
      <ul>
        <li><a href="#percorso">Il mio cammino</a></li>
        <li><a href="#candele">Candele</a></li>
        <li><a href="#libri">Libri</a></li>
        <li><a href="#sentieri">Sentieri</a></li>
        <li><a href="/contatti">Contatti</a></li>
      </ul>
    </div>

    <div class="footer-col">
      <h4>Contatti</h4>
      <p>Email: info@paolabovero.it</p>
      <p>Instagram</p>
      <p>Facebook</p>
      <p>Linkedin</p>
    </div>

  </div>

  <div class="footer-bottom">
    © {{ now.Year }} Paola Bovero · Tutti i diritti riservati
  </div>

</footer>