<header class="site-header">
  <div class="container header-inner">
    
    <div class="site-identity">
      <h1 class="site-title">Paola Bovero</h1>
    </div>

    <nav class="main-nav">
      <ul>
        {{ range .Site.Menus.main }}
          <li class="{{ if .HasChildren }}has-dropdown{{ end }}">
            <a href="{{ .URL }}">{{ .Name }}</a>

            {{ if .HasChildren }}
              <ul class="dropdown">
                {{ range .Children }}
                  <li>
                    <a href="{{ .URL }}">{{ .Name }}</a>
                  </li>
                {{ end }}
              </ul>
            {{ end }}

          </li>
        {{ end }}
      </ul>
    </nav>

  </div>
</header>