<section id="percorso" class="section section-warm right">

  <div class="container about-grid">

    <div class="about-image">
      <img src="/img/paola.jpg" alt="Paola Bovero">
    </div>

    <div class="about-text section-vertical">

      <h2 class="section-title-side">Il mio cammino</h2>
      <p>
        Insegnante * Scrittrice * Esploratrice dell’anima
      </p>

      <p>
        Ogni parola, ogni candela, ogni sentiero nasce da un ascolto
        profondo della luce che abita dentro di noi.
      </p>

      <p>
        Mi chiamo Paola Bovero: bambina, esuberante ed entusiasta della vita,
        oggi, cinquantenne, ho conservato un'insaziabile e nutriente voglia di conoscenza.
      </p>

      <p>
        Appassionata insegnante di lingua francese, amante di viaggi, letteratura,
        teatro, ho continuato, nel corso degli anni, l'esplorazione del mio mondo interiore.
      </p>

      <p>
        La mia missione è condividere questa luce, offrendo strumenti e spunti
        per chi desidera intraprendere un cammino di crescita personale e spirituale.
      </p>  
    </div>

  </div>
</section>