<section id="percorso" class="section section-warm right">

  <div class="about-grid">

  <div class="manifesto-images">
    <img src="/img/paola.jpg" class="img-small img-top">
    <img src="/img/angel1.jpeg" class="img-large">
  </div>

  <div class="about-text">
  <div class="about-header">
    <h2 class="section-title-side">Il mio cammino</h2>
    <p>INSEGNANTE - SCRITTRICE - ESPLORATRICE DELL'ANIMA</p>
  </div>
      <div class="poetic-separator">✧ ✦ ✧</div>
      <p class="manifesto-claim">
        OGNI PAROLA, OGNI CANDELA, OGNI SENTIERO NASCE DA UN ASCOLTO PROFONDO DELLA LUCE CHE ABITA DENTRO DI NOI
      </p>
      <div class="poetic-separator">✧ ✦ ✧</div>
      <p>
        Mi chiamo Paola Bovero: bambina, esuberante ed entusiasta della vita,
        oggi, cinquantenne, ho conservato un'insaziabile e nutriente voglia di conoscenza.
      </p>

      <p>
        Fin da piccola ho amato con grande meraviglia la natura; diventata adulta, ancora mi incantano alcuni suoi spettacoli: l’alba, il tramonto del sole, 
        i ciliegi in fiore, l’orizzonte del mare, i colori dell’autunno, i paesaggi innevati, l’arcobaleno.

        Da oltre vent’anni appassionata insegnante di lingua francese, amante di viaggi, letteratura e teatro, ho continuato nel corso della mia vita l’esplorazione del 
        mio mondo interiore.
      </p>

      <p>
        Il mio inesauribile cammino, fatto di passi luminosi e instancabili, mi ha regalato, nel mese di novembre 2024, la splendida e appagante esperienza editoriale
         “Raggi – Diario di Luce”, un librio–biografia della mia Anima.

        A marzo 2026 è pubblicato “Fu – Il fiorellino dell’arcobaleno”, favola che nel 2011 ho scritto a mio figlio per spiegare con amore la storia della sua adozione.
      </p>

      <p>
       Da sempre esploratrice della mia Anima, mi sento ora pronta ad aprirmi all’altro, nell’aiuto e nel servizio, perché penso che ogni vita contenga una luce 
       che merita di essere vista.

       Il progetto “Biografie dell’ Anima” si sviluppa in quattro incontri di ascolto e condivisione, dove le storie interiori trovano spazio per emergere: è quello un tempo semplice, accompagnato dalla luce di una candela, per dare voce alle emozioni e riconoscere il cammino della propria Anima.
      </p>
      <p>
       A conclusione sarà donato lo scritto “Biografie dell’ Anima”, racconto che custodisce la luce emersa nel mese trascorso insieme.
      </p>
    </div>

  </div>
</section>