<section class="about-soft">
  <div class="container about-grid">

    <div class="about-image">
      <img src="/img/paola.jpg" alt="Paola Bovero">
    </div>

    <div class="about-text">
      <span class="section-tag">Il mio cammino</span>
      <p>
        Ogni parola, ogni candela, ogni sentiero nasce da un ascolto
        profondo della luce che abita dentro di noi. </p>
        <p>Mi chiamo Paola Bovero:
          bambina, esuberante ed entusiasta della vita, oggi, cinquantenne, ho conservato un'insaziabile e nutriente voglia di conoscenza.</p>
        <p>Appassionata insegnante di lingua francese, amante di viaggi, letteratura, teatro, ho continuato, nel corso degli anni, l'esplorazione del mio mondo interiore.</p>
      </p>
    </div>

  </div>
</section>