<section id="sentieri" class="section left">
  <div class="container about-grid">

    <div class="about-text section-vertical-left">

  <div class="section-heading">
      <h2 class="section-title-large">Biografie dell’anima</h2>
      <p class="section-quote">
        « Ohhh!!! La Gioia di sbocciare »
      </p>
  </div>

  <div class="sentieri-box top-box">
    ASCOLTO PROFONDO,<br>
    RITUALITA' SEMPLICE,<br>
    SCRITTURA SPIRITUALE
  </div>

  <p>
    Questo progetto è creato con le parole, la luce e l’ascolto: offre spazi in cui l’Anima possa essere accolta e raccontata.

    È un’esperienza che voglio condividere in quanto l’ho sperimentata e vissuta personalmente: l’ascolto profondo delle mie emozioni, il seguire 
    i dettami del mio cuore, la consapevolezza e la trasformazione delle mie ferite in luce mi hanno regalato il mio primo viaggio nella scrittura: “Raggi. Diario di Luce”.
  </p>

  <div class="poetic-separator">✧ ✦ ✧</div>

  <p>
   Parole, luce, ascolto sono i tre fili dorati di questa brillante trama che creerà il tessuto del racconto finale “Biografie dell’Anima”, consegnato alla fine del percorso.
  </p>

  <div class="poetic-separator">✧ ✦ ✧</div>

  <p>
    Tempo semplice, accompagnato dalla luce di una candela, per l’ascolto e la condivisione, dove le storie interiori trovano spazio per emergere.

    Tutto ciò è creato per dare voce alle emozioni e riconoscere, anche su carta, il cammino della propria Anima.
  </p>

  <div class="poetic-separator">✧ ✦ ✧</div>

  <div class="sentieri-box bottom-box">
    ASCOLTARE E' IL PRIMO<br>
    PASSO PERCHE' L'ANIMA<br>
    POSSA RACCONTARSI
  </div>

  <a href="/sentieri" class="button">
    Scopri il percorso
  </a>

</div>

    <div class="about-image">
      <img src="/img/11.jpeg" alt="Paola Bovero">
      <img src="/img/soleraggi.jpeg" alt="Paola Bovero">
    </div>

  </div>
</section>