<section id="sentieri" class="section left">
  <div class="container about-grid">

    <div class="about-text section-vertical-left">
      <div class="section-heading">
        <h2 class="section-title-large">Biografie dell’anima</h2>
        <p class="section-quote">
          « Ohhh!!! La Gioia di sbocciare »
        </p>
      </div>
      <p>
        titolo ----> IN STAMPATELLO più piccolo del titolo in dorato nel quadrato "ascolto profondo..." fino a spirituale.. ----> foto 11.jpeg

        Qusto progetto ---> fino a raggi 
        separatore
        Parole , luce ---> percorso
        separatore
        Tempo semplice ---> propria anima 
         separatore

         titolo ---> IN STAMPATELLO più piccolo del sito in dorato riquadro ---> ascoltare ---> raccontarsi ----> foto soleraggi sentieri 
        Scopri il percorso ----> https://demoraggidiluce.netlify.app/sentieri
      </a>
    </div>

    <div class="about-image">
      <img src="/img/percorsi.jpg" alt="Paola Bovero">
    </div>

  </div>
</section>