{{ define "main" }}

<section class="gallery-hero section center">
  <div class="container">
    <h2 class="editorial-title">Galleria</h2>
    <p class="gallery-quote">
      « Frammenti di luce, istanti di anima. »
    </p>
  </div>
</section>

<section class="gallery-grid-section">
  <div class="container">

    <div class="gallery-grid">

      <!-- IMMAGINE 1 -->
      <a href="/img/galleria/1.jpeg" class="gallery-item">
        <img src="/img/galleria/1.jpeg" class="zoomable" alt="Descrizione 1">
      </a>

      <!-- IMMAGINE 2 -->
      <a href="/img/galleria/2.jpeg" class="gallery-item">
        <img src="/img/galleria/2.jpeg" class="zoomable" alt="Descrizione 1">
      </a>

      <!-- IMMAGINE 3 -->
      <a href="/img/galleria/3.jpeg" class="gallery-item">
        <img src="/img/galleria/3.jpeg" class="zoomable" alt="Descrizione 1">
      </a>

      <!-- IMMAGINE 4 -->
      <a href="/img/galleria/4.jpeg" class="gallery-item">
        <img src="/img/galleria/4.jpeg" class="zoomable" alt="Descrizione 1">
      </a>

      <!-- IMMAGINE 5 -->
      <a href="/img/galleria/5.jpeg" class="gallery-item">
        <img src="/img/galleria/5.jpeg" class="zoomable" alt="Descrizione 1">
      </a>

      <!-- IMMAGINE 6 -->
      <a href="/img/galleria/6.jpeg" class="gallery-item">
        <img src="/img/galleria/6.jpeg" class="zoomable" alt="Descrizione 1">
      </a>

      <!-- IMMAGINE 7 -->
      <a href="/img/galleria/7.jpeg" class="gallery-item">
        <img src="/img/galleria/7.jpeg" class="zoomable" alt="Descrizione 1">
      </a>

      <!-- IMMAGINE 8 -->
      <a href="/img/galleria/8.jpeg" class="gallery-item">
        <img src="/img/galleria/8.jpeg" class="zoomable" alt="Descrizione 1">
      </a>

      <!-- IMMAGINE 9 -->
      <a href="/img/galleria/9.jpeg" class="gallery-item">
        <img src="/img/galleria/9.jpeg" class="zoomable" alt="Descrizione 1">
      </a>

      <!-- IMMAGINE 10 -->
      <a href="/img/galleria/10.jpeg" class="gallery-item">
        <img src="/img/galleria/10.jpeg" class="zoomable" alt="Descrizione 1">
      </a>

      <!-- IMMAGINE 11 -->
      <a href="/img/galleria/angel2.jpeg" class="gallery-item">
        <img src="/img/galleria/angel2.jpeg" class="zoomable" alt="Descrizione 1">
      </a>

      <!-- IMMAGINE 12 -->
      <a href="/img/galleria/angel.jpeg" class="gallery-item">
        <img src="/img/galleria/angel.jpeg" class="zoomable" alt="Descrizione 1">
      </a>

      <!-- IMMAGINE 13 -->
      <a href="/img/galleria/angel1.jpeg" class="gallery-item">
        <img src="/img/galleria/angel1.jpeg" class="zoomable" alt="Descrizione 1">
      </a>

      <!-- IMMAGINE 14 -->
      <a href="/img/galleria/cera.jpeg" class="gallery-item">
        <img src="/img/galleria/cera.jpeg" class="zoomable" alt="Descrizione 1">
      </a>

      <!-- IMMAGINE 15 -->
      <a href="/img/galleria/para.jpeg" class="gallery-item">
        <img src="/img/galleria/para.jpeg" class="zoomable" alt="Descrizione 1">
      </a>

      <!-- IMMAGINE 16 -->
      <a href="/img/galleria/soia.jpeg" class="gallery-item">
        <img src="/img/galleria/soia.jpeg" class="zoomable" alt="Descrizione 1">
      </a>

       <!-- IMMAGINE 17 -->
       <a href="/img/galleria/17.jpeg" class="gallery-item">
        <img src="/img/galleria/17.jpeg" class="zoomable" alt="Descrizione 1">
      </a>

       <!-- IMMAGINE 18 -->
       <a href="/img/galleria/18.jpeg" class="gallery-item">
        <img src="/img/galleria/18.jpeg" class="zoomable" alt="Descrizione 1">
      </a>

       <!-- IMMAGINE 11 -->
       <a href="/img/galleria/11.jpeg" class="gallery-item">
        <img src="/img/galleria/11.jpeg" class="zoomable" alt="Descrizione 1">
      </a>

       <!-- IMMAGINE 12 -->
       <a href="/img/galleria/12.jpeg" class="gallery-item">
        <img src="/img/galleria/12.jpeg" class="zoomable" alt="Descrizione 1">
      </a>

       <!-- IMMAGINE 13 -->
       <a href="/img/galleria/13.jpeg" class="gallery-item">
        <img src="/img/galleria/13.jpeg" class="zoomable" alt="Descrizione 1">
      </a>

       <!-- IMMAGINE 14 -->
       <a href="/img/galleria/14.jpeg" class="gallery-item">
        <img src="/img/galleria/14.jpeg" class="zoomable" alt="Descrizione 1">
      </a>

       <!-- IMMAGINE 15 -->
       <a href="/img/galleria/15.jpeg" class="gallery-item">
        <img src="/img/galleria/15.jpeg" class="zoomable" alt="Descrizione 1">
      </a>

       <!-- IMMAGINE 16 -->
       <a href="/img/galleria/16.jpeg" class="gallery-item">
        <img src="/img/galleria/16.jpeg" class="zoomable" alt="Descrizione 1">
      </a>

       <!-- IMMAGINE 19 -->
       <a href="/img/galleria/19.jpeg" class="gallery-item">
        <img src="/img/galleria/19.jpeg" class="zoomable" alt="Descrizione 1">
      </a>

       <!-- IMMAGINE 20 -->
       <a href="/img/galleria/20jpeg" class="gallery-item">
        <img src="/img/galleria/20.jpeg" class="zoomable" alt="Descrizione 1">
      </a>

       <!-- IMMAGINE 21 -->
       <a href="/img/galleria/21.jpeg" class="gallery-item">
        <img src="/img/galleria/21.jpeg" class="zoomable" alt="Descrizione 1">
      </a>

      <!-- IMMAGINE 21 -->
      <a href="/img/galleria/paola.jpg" class="gallery-item">
        <img src="/img/galleria/paola.jpg" class="zoomable" alt="Descrizione 1">
      </a>

      <!-- IMMAGINE 21 -->
      <a href="/img/galleria/percorsi.webp" class="gallery-item">
        <img src="/img/galleria/percorsi.webp" class="zoomable" alt="Descrizione 1">
      </a>

       <!-- IMMAGINE 21 -->
       <a href="/img/galleria/percorsi.jpg" class="gallery-item">
        <img src="/img/galleria/percorsi.jpg" class="zoomable" alt="Descrizione 1">
      </a>



      



      <!-- DUPLICA E MODIFICA -->

    </div>

  </div>
</section>

{{ end }}