{{ define "main" }}

<section class="gallery-hero section center">
  <div class="container">
    <h1 class="gallery-title">Galleria</h1>
    <p class="gallery-quote">
      « Frammenti di luce, istanti di anima. »
    </p>
  </div>
</section>

<section class="gallery-grid-section">
  <div class="container">

    <div class="gallery-grid">

      <!-- IMMAGINE 1 -->
      <a href="/img/galleria/1.jpeg" class="gallery-item">
        <img src="/img/galleria/1.jpeg" class="zoomable" alt="Descrizione 1">
      </a>

      <!-- IMMAGINE 2 -->
      <a href="/img/galleria/2.jpeg" class="gallery-item">
        <img src="/img/galleria/2.jpeg" class="zoomable" alt="Descrizione 1">
      </a>

      <!-- IMMAGINE 3 -->
      <a href="/img/galleria/3.jpeg" class="gallery-item">
        <img src="/img/galleria/3.jpeg" class="zoomable" alt="Descrizione 1">
      </a>

      <!-- IMMAGINE 4 -->
      <a href="/img/galleria/4.jpeg" class="gallery-item">
        <img src="/img/galleria/4.jpeg" class="zoomable" alt="Descrizione 1">
      </a>

      <!-- IMMAGINE 5 -->
      <a href="/img/galleria/5.jpeg" class="gallery-item">
        <img src="/img/galleria/5.jpeg" class="zoomable" alt="Descrizione 1">
      </a>

      <!-- IMMAGINE 6 -->
      <a href="/img/galleria/6.jpeg" class="gallery-item">
        <img src="/img/galleria/6.jpeg" class="zoomable" alt="Descrizione 1">
      </a>

      <!-- IMMAGINE 7 -->
      <a href="/img/galleria/7.jpeg" class="gallery-item">
        <img src="/img/galleria/7.jpeg" class="zoomable" alt="Descrizione 1">
      </a>

      <!-- IMMAGINE 8 -->
      <a href="/img/galleria/8.jpeg" class="gallery-item">
        <img src="/img/galleria/8.jpeg" class="zoomable" alt="Descrizione 1">
      </a>

      <!-- IMMAGINE 9 -->
      <a href="/img/galleria/9.jpeg" class="gallery-item">
        <img src="/img/galleria/9.jpeg" class="zoomable" alt="Descrizione 1">
      </a>

      <!-- IMMAGINE 10 -->
      <a href="/img/galleria/10.jpeg" class="gallery-item">
        <img src="/img/galleria/10.jpeg" class="zoomable" alt="Descrizione 1">
      </a>

      <!-- IMMAGINE 11 -->
      <a href="/img/galleria/angel2.jpeg" class="gallery-item">
        <img src="/img/galleria/angel2.jpeg" class="zoomable" alt="Descrizione 1">
      </a>

      <!-- IMMAGINE 12 -->
      <a href="/img/galleria/angel.jpeg" class="gallery-item">
        <img src="/img/galleria/angel.jpeg" class="zoomable" alt="Descrizione 1">
      </a>

      <!-- IMMAGINE 13 -->
      <a href="/img/galleria/angel1.jpeg" class="gallery-item">
        <img src="/img/galleria/angel1.jpeg" class="zoomable" alt="Descrizione 1">
      </a>

      <!-- IMMAGINE 14 -->
      <a href="/img/galleria/cera.jpeg" class="gallery-item">
        <img src="/img/galleria/cera.jpeg" class="zoomable" alt="Descrizione 1">
      </a>

      <!-- IMMAGINE 15 -->
      <a href="/img/galleria/para.jpeg" class="gallery-item">
        <img src="/img/galleria/para.jpeg" class="zoomable" alt="Descrizione 1">
      </a>

      <!-- IMMAGINE 16 -->
      <a href="/img/galleria/soia.jpeg" class="gallery-item">
        <img src="/img/galleria/soia.jpeg" class="zoomable" alt="Descrizione 1">
      </a>



      <!-- DUPLICA E MODIFICA -->

    </div>

  </div>
</section>

{{ end }}